<div class="image">

<mat-toolbar class="main-header" color="primary">
    <button mat-button  (click)="goToHome()">Hoopla</button>
 

    <div class="header">
        <button mat-button>Welcome {{emailId}}</button>
        <button mat-button (click)="view()">View orders</button>
        <button mat-button (click)="logout()">Logout</button>
    </div>

</mat-toolbar>

<div class="rowmar" *ngIf="product" style="margin: 20px 0 0 0;">
    <div class="col-8 offset-2">
        <mat-card>
            <div class="row">

                <div class="col-5">
                    <div class="text-secondary">{{product.pCategory}}</div>
                    <div class="text-primary"><h3>{{product.pName}}</h3></div>
                    <div class="text-secondary"><h4>{{product.pSeller[0].sId}}</h4></div>
                    <div><b>Description:</b></div>
                    <div>{{product.pDescription}}</div>
                    <br>
                    <div><b>Specification:</b>
                    <ul>
                        <li><b>Color:</b>&nbsp; {{product.color}}</li>
                    </ul>
                    <div class="text-success"><h5>-{{product.pSeller[0].pDiscount*100}}% off</h5></div>
                    </div>
                    
                    <div class="text-secondary"><h4><del class="text-secondary">{{product.price | currency:'INR':'symbol'}}</del></h4></div>
                    <div style="text-align: center;"><h3>Price:&nbsp;{{(product.price*(1-product.pSeller[0].pDiscount)) | currency:"INR":"symbol":"3.0-0"}}</h3></div>
                    <br>
                    <button mat-raised-button color="primary" (click)="buy()" *ngIf="product.pSeller[0].pQuantity!=0">Buy Now</button>
                    <div class="text-danger" *ngIf="product.pSeller[0].pQuantity==0">Out of stock!</div>
                    <button mat-raised-button color="warn" *ngIf="product.pSeller[0].pQuantity==0">Notify Me</button>
                    &nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button mat-raised-button color="accent" type="button" (click)="back()">Go Back</button>
                </div>

                <div class="col-5 offset-1">
                    <img [src]="'./../../assets/'+product.image" [alt]="product.image" >
                </div>

            </div>
        </mat-card>
    </div>
</div>

</div>